@import "../theme/variables";

body {
  background-color: $color-white;
  font-family: "Helvetica-Light", Helvetica, Arial, sans-serif;
}

.App {
  color: $color-dark;
  margin-left: 15%;
  margin-right: 15%;

  .header {
    display: block;
    text-decoration: none;
    color: inherit;
    overflow: auto;
    padding: 15px;

    img {
      float: left;
      height: 40px;
      margin-right: 1em;
    }

    .title {
      float: left;
      font-size: 40px;
    }

    .link {
      float: left;
    }

    .login {
      float: left;
      //position: relative;
      // margin-left: 70%;
      font-size: 18px;
    }

    .register {
      float: left;
      //position: relative;
      //margin-left: 60%;
      font-size: 18px;
    }
  }

  hr {
    margin-bottom: 0;
    margin-top: 0;
    opacity: 0.15;
  }
}
